.aboutme-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10rem;
    text-align: center;
    margin-top: 4rem;
}

.first-par {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 3.125rem;
    margin-left: 20rem;
    font-size: larger;
}

.second-par {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.125rem;
    margin-left: 20rem;
    font-size: larger;
}

.list-par {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px; */
    /* margin-left: 5rem; */
    font-size: larger; 
    margin-top: 20rem;
    text-align: center;
}

.img0 {
    width: 17%;
    height: auto;
    margin-left: 1rem;
    position: absolute;
    margin:auto 65%;
    margin-top: -12.5rem; 
}

.list-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.125rem;
    margin-left: 33rem;
    font-size: larger;
    list-style-type: none;
}