.box {
    color: white;
    background-color: #112240;
}

.map-box {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
}

.icons {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5rem;
}

.box-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10rem;
    text-align: center;
    margin-top: 4rem;

}


/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
    .box {
        margin-top: 1rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {

}
