.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.email {
    font-size: 2rem; 
    margin-left: 37rem;
}

.email-text {
    font-size: 2rem;
    margin-left: 27rem;
    margin-top: 1rem;
}

.phone {
    font-size: 2rem;
    margin-left: 77rem;
    margin-top: -7.5rem;
}

.phone-number {
    font-size: 2rem;
    margin-left: 74rem;
    margin-top: 1rem;
}


/* Mac Laptops */
@media only screen and (max-width: 1440px) {
    /*=========== Contacts ============== */
    .email {
        font-size: 2rem; 
        margin-left: 25rem;
    }
    
    .email-text {
        font-size: 2rem;
        margin-left: 15rem;
        margin-top: 1rem;
    }
    
    .phone {
        font-size: 2rem;
        margin-left: 60rem;
        margin-top: -7.5rem;
    }
    
    .phone-number {
        font-size: 2rem;
        margin-left: 57rem;
        margin-top: 1rem;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
    .email {
        font-size: 2rem; 
        margin-left: 18rem;
    }
    
    .email-text {
        margin-left: 9rem;
    }

    .phone {
        margin-left: 54rem; 
    }

    .phone-number {
        margin-left: 50rem;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
    .email {
        margin-left: 10rem;
        font-size: 1.8rem;
    }

    .email-text {
        margin-left: 2.5rem;
        font-size: 1.8rem;
    }

    .phone {
        margin-left: 46rem; 
        font-size: 1.8rem;
    }

    .phone-number {
        margin-left: 43rem;
        font-size: 1.8rem;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .email {
        font-size: 1.5rem;
        margin-top: -3rem;
        margin-left: 22rem;
    }

    .email-text {
        font-size: 1.5rem;
        margin-left: 14.7rem;
    }

    .phone {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-left: 22rem;
    }

    .phone-number {
        font-size: 1.5rem;
        margin-left: 19rem;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
    .email {
        margin-left: 13rem;
    }

    .email-text {
        margin-left: 6rem;
    }

    .phone {
        margin-left: 13rem;
    }

    .phone-number {
        margin-left: 10rem;
    }

}