.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.email {
    font-size: 2rem; 
    margin-left: 37rem;
}

.email-text {
    font-size: 2rem;
    margin-left: 27rem;
    margin-top: 1rem;
}

.phone {
    font-size: 2rem;
    margin-left: 77rem;
    margin-top: -7.5rem;
}

.phone-number {
    font-size: 2rem;
    margin-left: 74rem;
    margin-top: 1rem;
}


/* Mac Laptops */
@media only screen and (max-width: 1440px) {
    /*=========== Contacts ============== */
    .email {
        font-size: 2rem; 
        margin-left: 25rem;
    }
    
    .email-text {
        font-size: 2rem;
        margin-left: 15rem;
        margin-top: 1rem;
    }
    
    .phone {
        font-size: 2rem;
        margin-left: 60rem;
        margin-top: -7.5rem;
    }
    
    .phone-number {
        font-size: 2rem;
        margin-left: 57rem;
        margin-top: 1rem;
    }

}