#nav {
    background-color: #020c1b;
    color: white;
}

.nav-item {
    /* margin: 1rem;
    margin-left: 0.5rem;
    margin-right: 2rem; 
    margin-bottom: 1rem; */
}

.nav-item a {
    color: white;
    font-weight: bold;
}

.nav-item a:hover, .nav-item a:active {
    color: darkgrey;
    /* border-top: 0.1875rem solid darkgray; */
}

.nav-item a:active, .nav-item a:focus {
    color: darkgrey;
    border-top: 0.1875rem solid darkgray;
}

/* Mac Laptops */
@media only screen and (max-width: 1440px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {

}